@import url("../common.css");

.content {
    width: 900px;
    height: auto;
}

img {
    width: 300px;
    height: 200px;
}

.zoom {
    width: 400px;
    height: 200px;
    overflow: hidden;
}
.zoom img {
    -moz-transition: -moz-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -ms-transition: -ms-transform 0.5s linear;
    transition: transform 0.5s linear;
}
.zoom img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.blur {
    width: 400px;
    height: 200px;
    overflow: hidden;
}
.blur img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.blur img:hover {
    -webkit-filter: blur(5px);
}



.gray {
    width: 400px;
    height: 200px;
    overflow: hidden;
    vertical-align: top;
}
.gray img {
    webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
}

.gray img:hover {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.2s linear;
}

.rotate {
    width: 400px;
    height: 300px;
    overflow: hidden;
}
.rotate img {
    width: 300px;
    height: 200px;
    transition-duration: 3s;

}
.rotate img:hover {
    width: 400px;
    height: 300px;
    transition-duration: 3s;
    transform: rotate(1080deg);
}