@import url("../common.css");

footer,
.content {
    width: 900px;
    height: auto;
}

header p {
    font-size: 20px;
    font-weight: bold;
    color: #ff9933
}

ol {
    list-style-type: none;
}

ol li {
    width: 127px;
    float: left;
    margin-right: 50px;
}

.product-name {
    overflow: scroll;
    width: 127px;
    height: 90px;
}

.star-num {
    background-image: url(star.png);
    width: 87px;
    height: 20px;
    background-position: 408px -2552px;
    background-size: 430px;
    float: left;
}

.evaluation-num {
    float: left;
}

.prime {
    background-image: url(star.png);
    width: 51px;
    height: 19px;
    background-position: -220px -260px;
    background-size: 430px;
    float: left;
}

.yen {
    float: left;
    padding-right: 10px;
}