@import url("../common.css");

.box-form {
    width: 290px;
    height: auto;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 20px;
}

.box-user-name input,
.box-pass input {
    background: linear-gradient(#FFFFCC,#FFFF66);
    width: 100%;
    height: 30px;
}

.box-login input {
    background: linear-gradient(#99CCFF,#33CCFF);
    width: 100%;
    height: 30px;
    font-size: 15px;
}

label {
    vertical-align: middle;
}

input {
    border-radius: 5px;
}