@import url("../common.css");

.content {
    width: 900px;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Hiragino Kaku Gothic ProN', 'Yu Gothic', sans-serif;
}

.ttl-box {
    width: 380px;
    background: #66FFCC;
    padding: 10px;
}

h1 {
    font-size: 25px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border: 1px solid #000;
}

thead th {
    background: #CCCCCC;
}

tbody th {
    width: 200px;
    background: #9999CC;
}

tbody td {
    border-right: 1px solid #000;
    vertical-align: middle;
}

th .wd{
    width: 150px;
}

.required {
    background: red;
    padding: 3px;
    margin: 3px;
}

.any {
    background: #fff;
    padding: 3px;
    margin: 3px;
}