@import url("../common.css");

.content {
    width: 900px;
    height: auto;
}

h1,h2 {
    font-size: 20px;
}

h1 {
    text-shadow: 10px 8px 0 #7a7a7a;
}

table {
    border-collapse: collapse;
    float: left;
}

th {
    font-weight: normal;
}

thead th {
    color: #fff;
}

.box-2 {
    position: relative;
}

.fukidashi {
    position: relative;
    background: #FFFFCC;
    border: 4px solid #333;
    padding: 20px;
    width: 120px;
    border-radius:5px;
    margin:2em;
    opacity: 1;
}

.box-fukidashi img {
    position: absolute;
    top: 10px;
    left: 110px;
    z-index: 1;
}

.fukidashi:after, .fukidashi:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.fukidashi:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #FFFFCC;
    border-width: 10px;
    margin-top: -10px;
}
.fukidashi:before {
    border-color: rgba(51, 51, 51, 0);
    border-left-color: #333;
    border-width: 16px;
    margin-top: -16px;
}

.table-1 tbody th:first-child {
    width: 250px;
}

.table-1 .tdw90 {
    width: 90px;
}

.table-1 .tdw100 {
    width: 100px;
}

.table-2 tbody th:first-child {
    width: 130px;
}

.table-2 .tdw60 {
    width: 60px;
}

.brT-purple-dotted {
    border-top: 1px dotted;
    border-color: #CC99FF;
}

.brB-purple-dotted {
    border-bottom: 1px dotted;
    border-color: #CC99FF;
}

.brR-purple-dotted {
    border-right: 1px dotted;
    border-color: #CC99FF;
}

.brL-purple-dotted {
    border-left: 1px dotted;
    border-color: #CC99FF;
}

.brT-red-dotted {
    border-top: 1px dotted;
    border-color: #FF0066;
}

.brB-red-dotted {
    border-bottom: 1px dotted;
    border-color: #FF0066;
}

.brR-red-dotted {
    border-right: 1px dotted;
    border-color: #FF0066;
}

.brL-red-dotted {
    border-left: 1px dotted;
    border-color: #FF0066;
}

.brT-purple-solid {
    border-top: 1px solid;
    border-color: #CC99FF;
}

.brB-purple-solid {
    border-bottom: 1px solid;
    border-color: #CC99FF;
}

.brR-purple-solid {
    border-right: 1px solid;
    border-color: #CC99FF;
}

.brL-purple-solid {
    border-left: 1px solid;
    border-color: #CC99FF;
}

.brT-red-solid {
    border-top: 1px solid;
    border-color: #FF0066;
}

.brB-red-solid {
    border-bottom: 1px solid;
    border-color: #FF0066;
}

.brR-red-solid {
    border-right: 1px solid;
    border-color: #FF0066;
}

.brL-red-solid {
    border-left: 1px solid;
    border-color: #FF0066;
}

.brB-purple-double {
    border-color: #CC99FF;
    border-bottom-style: double;
}

.brB-red-double {
    border-color: #FF0066;
    border-bottom-style: double;
}

.box-fukidashi {
    position: absolute;
    top: 515px;
    left: 110px;
}

.txt-fukidashi {
    position: absolute;
    top: 38px;
    left: 50px;
}

td span {
    color: red;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    padding-right: 20px;
}