@import url("../common.css");

.content {
    width: 900px;
    height: auto;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
}

ul li p {
    width: 100px;
    height: 120px;
    background-color: blue;
    padding: 50px 18px;
}