@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ma0auto {
    margin: 0 auto;
}

.fs0 {
    font-size: 0;
}

.fs12{
    font-size: 12px;
}

.fwbold {
    font-weight: bold;
}

.dis_inline_block {
    display: inline-block;
}

.maT5 {
    margin-top: 5px;
}

.maT10 {
    margin-top: 10px;
}

.maT15 {
    margin-top: 15px;
}

.maT20 {
    margin-top: 20px;
}

.maT25 {
    margin-top: 25px;
}

.maT30 {
    margin-top: 30px;
}

.maB5 {
    margin-bottom: 5px;
}

.maB10 {
    margin-bottom: 10px;
}

.maB15 {
    margin-bottom: 15px;
}

.maB20 {
    margin-bottom: 20px;
}

.maB25 {
    margin-bottom: 25px;
}

.maB30 {
    margin-bottom: 30px;
}

.maR5 {
    margin-right: 5px;
}

.maR10 {
    margin-right: 10px;
}

.maR15 {
    margin-right: 15px;
}

.maR20 {
    margin-right: 20px;
}

.maR25 {
    margin-right: 25px;
}

.maR30 {
    margin-right: 30px;
}

.maL5 {
    margin-left: 5px;
}

.maL10 {
    margin-left: 10px;
}

.maL15 {
    margin-left: 15px;
}

.maL20 {
    margin-left: 20px;
}

.maL25 {
    margin-left: 25px;
}

.maL30 {
    margin-left: 30px;
}

.pdT5 {
    padding-top: 5px;
}

.pdT10 {
    padding-top: 10px;
}

.pdT15 {
    padding-top: 15px;
}

.pdT20 {
    padding-top: 20px;
}

.pdT25 {
    padding-top: 25px;
}

.pdT30 {
    padding-top: 30px;
}

.pdB5 {
    padding-bottom: 5px;
}

.pdB10 {
    padding-bottom: 10px;
}

.pdB15 {
    padding-bottom: 15px;
}

.pdB20 {
    padding-bottom: 20px;
}

.pdB25 {
    padding-bottom: 25px;
}

.pdB30 {
    padding-bottom: 30px;
}

.pdR5 {
    padding-right: 5px;
}

.pdR10 {
    padding-right: 10px;
}

.pdR15 {
    padding-right: 15px;
}

.pdR20 {
    padding-right: 20px;
}

.pdR25 {
    padding-right: 25px;
}

.pdR30 {
    padding-right: 30px;
}

.pdL5 {
    padding-left: 5px;
}

.pdL10 {
    padding-left: 10px;
}

.pdL15 {
    padding-left: 15px;
}

.pdL20 {
    padding-left: 20px;
}

.pdL25 {
    padding-left: 25px;
}

.pdL30 {
    padding-left: 30px;
}

.taC {
    text-align: center;
}

.taR {
    text-align: right;
}

.taL {
    text-align: left;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}



